<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balloon City</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
            <span class="fa fa-home"></span> Balloon City
        </a>
    </nav>

    <div class="jumbotron">
        <h1>@ViewBag.Header</h1>
        <p class="lead">@ViewBag.SubHeader</p>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
