@{
    ViewBag.Title = "Colors";
}

<div class="jumbotron">
    <h1>Color Adder</h1>
    <p class="lead">Select two colors. </p>
</div>

<div class="row">
    <form method="post" action="~/Home/Index">
        <div class="input-group">
            @for (int x = 1; x < 3; x++)
            {
                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
                <select id=@("color" + x) type="text" class="form-control" name=@("color" + x)>
                    @foreach (var color in ViewBag.Colors)
                    {
                        <option style="background-color: @color.Hex">@color.Name.ToUpper()</option>
                    }
                </select>
            }
        </div>
        <button type="submit" class="btn btn-success" id="submit">Combine</button>
    </form>
    <h2 id="result" style="display: @(ViewBag.Result == "" ? "none;" : "block;") color: @ViewBag.Result">
        @ViewBag.Color1.ToUpper() AND @ViewBag.Color2.ToUpper() MAKE @ViewBag.Result.ToUpper()
    </h2>
</div>