@using Colors.Models; 
@{
    ViewBag.Title = "Colors";
}

<div class="jumbotron">
    <h1>Color Adder</h1>
    <p class="lead">Select two colors. </p>
</div>

<div class="row">
    <form method="post" action="~/Home/Index">
        <div class="input-group">
            @for (int x=1; x<3; x++)
            {
                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
                <select id=@("color" + x) type="text" class="form-control" name=@("color" + x)>
                    @foreach (string key in ViewBag.ColorOptions.Keys)
                    {
                        <option style="background-color: @ViewBag.ColorOptions[key].Hex">@ViewBag.ColorOptions[key].Name</option>
                    }
                </select>
            }
        </div>
        <button type="submit" class="btn btn-success" id="submit">Combine</button>
    </form>
    <h2 id="result" style="color: @ViewBag.Result.Hex">
        @ViewBag.Color1 AND @ViewBag.Color2 MAKE @ViewBag.Result.Name
    </h2>
</div>